.parallax {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #111827, #242c3e);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  h1 {
    font-size: 9rem;
    z-index: 2;
  }

  .mountains {
    background-image: url(./images/mountains.png);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
  }

  .planets {
    background-image: url(./images/planets.png);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
  }

  .stars {
    background-image: url(./images/stars.png);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
  }

  .nebula {
    background-image: url(./images/nebula.png);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}
