.custom-card {
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  transition: transform 0.3s ease-in-out;
  border: 2px solid transparent;
}

.custom-card:hover {
  transform: translateY(-10px);
  border-color: #c749c1;
}

.card-title {
  color: black;
  font-weight: 1000;
  margin-left: 10px;
}

.card-img { /* Add or modify this class */
  border-radius: 10%; /* Apply a border radius of 10% to the image */
}

// .skills-container {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: flex-start;
//   max-height: calc(100vh - 100px); /* Adjust as needed */
//   overflow-y: auto; /* Enable vertical scrolling */
//   padding: 20px; /* Adjust padding as needed */
// }
