.contact-container {
  display: flex;

  h1 {
    font-size: 5rem;
    z-index: 2;
  }
}

.left-side {
  // background-color: red;
  flex: 1;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side {
  // background-color: green;
  flex: 1;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}