.nav-bar {
  height: 100px;
  padding-top: 10px;
 
  .nav-name {
    color: #00ff00;
  }
 
  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
 
    span {
      font-weight: 700;
    }
 
    .social {
      display: flex;
      gap: 20px;
 
      .discord-logo {
        width: 35px;
        height: 35px;
      }
 
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
 
  @media (max-width: 600px) {
    .nav-name {
     display: none;
    }
   
    .wrapper {
     padding: 0 20px;
     justify-content: center;
    }
   }
 
  /* Medium devices (tablets, 600px and up) */
  @media (min-width: 600px) {
    .wrapper {
      padding: 0 40px;
    }
  }
 
  /* Large devices (desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .wrapper {
      padding: 0 60px;
    }
  }
 }
 