.title {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, #111827, #171f30);
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;

    @media (min-width: 768px) {
      margin-top: 10vh;
    }

    .textContainer {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      margin-left: 25px;
    }

    .scrollDownIconContainer {
      width: 100%;
      display: flex;
      // justify-content: center;
    }

    h2 {
      font-size: 40px;
      background-image: linear-gradient(to right, #c749c1, blue);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      letter-spacing: 5px;
    }

    h1 {
      font-size: 50px;
    }

    .buttons {
      button {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        border: 2px solid white;
        border-radius: 20px;
        background-image: linear-gradient(to right, purple, #c749c1);
        margin-right: 20px;
      }
    }

    img {
      width: 64px;
    }

    .slidingTextContainer {
      position: absolute;
      font-size: 15vh;
      bottom: 10vh;
      white-space: nowrap;
      color: #ffffff09;
    }
  }

  @media (max-width: 600px) {
    .wrapper {
      .textContainer {
        margin-top: 10%;

        h2 {
          text-align: center;
          font-size: 2rem;
        }

        h1 {
          text-align: center;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: center; 
      margin-top: 20px;

      button {
        margin-right: 10px;
      }
    }

    .scrollDownIconContainer {
      display: flex;
      justify-content: center;
    }
  }

  // .imageContainer {
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  // }

  // .title-image {
  //   max-width: 50%;
  //   height: auto;
  //   border-radius: 15px;
  // }
}
